@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #148CFF, #06C1E8 );
    }

main{
        background-color: white;
        border-radius: 50px;
        box-shadow: 5px 5px 15px #08355f83;
        width: 600px;
        padding: 10px;
        margin: auto;
}

h1{
    color: #0BFF31;
    text-align: center;
    text-shadow: 1px 1px 2px #032e09c4;
}

h2{
    color: #023535;

}

p{
    text-align: justify;
    
}
